.buttons {
  z-index: 3;
  position: absolute;
  right: 50px;
  bottom: 2%;
  display: flex;
  flex-direction: column;

  .buttonColor {
    background-color: red;
    color: #fff;
    border: 1px solid red;
  }

  button {
    cursor: pointer;
    color: #415164;
    border: 1px solid #c8ced8;
    border-radius: 4px;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 6px;
    padding: 0 8px;
  }

  img {
    margin-left: 8px;
  }
}
