@use "mixins";

.card {
  z-index: 3;
  position: absolute;
  top: 3%;
  left: 2%;
  width: 400px;
  box-sizing: border-box;
  max-height: 40%;
  overflow: auto;
  border-radius: 8px;

  @include mixins.mini-mobile {
    width: 96%;
  }
  h2 {
    background-color: #20252b;
    padding: 8px 16px;
    color: #fff;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
.content {
  background-color: #fff;
  cursor: pointer;
  animation: opacityOn 1s;
}
.textContent {
  padding-left: 16px;
  padding-top: 12px;
  border-top: 1px solid #e7e8ef;
  padding-left: 16px;
  animation: opacityOn 1s;
  h3 {
    color: #20252b;
    font-size: 16px;
    font-weight: 600;
  }
  p {
    color: #627389;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    padding-bottom: 12px;
  }
  img {
    margin-top: 2px;
    margin-right: 2px;
  }
}
.selected {
  background-color: #f5f6fa;
  border-radius: 8px;
  animation: opacityOn 1s;
}

.textContentEmpty {
  width: 65%;
  margin: 0 auto;
  animation: opacityOn 1s;

  p {
    color: #798aa4;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 16px;
  }
}

@keyframes opacityOn {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #808b98;
  border-radius: 16px;
}
