.card {
  z-index: 3;
  position: absolute;
  top: 20px;
  width: 30%;
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

.card header {
  background-color: #363e48;
  padding: 2px 8px;
  color: #fff;
}

.content {
  background-color: #fff;
}

.separator {
  padding: 0 16px;
  border-bottom: 1px solid #e7e8ef;
}

.separator p {
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row img {
  width: 5%;
  height: 5%;
  color: #57760a;
  margin-top: 15px;
}
